# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual Environment
# ==============================
venv/
.venv/
env/

# ==============================
# Environment Variables
# ==============================
.env
.env.*
!.env.example

# ==============================
# ML Raw Data
# ==============================
ml-service/data/raw/

# ==============================
# ML temporary/processed data
# ==============================
ml-service/data/processed/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Model files
# ==============================
*.pkl
*.joblib
*.h5
*.keras
*.pt
*.pth

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# VS Code
# ==============================
.vscode/